*{
	max-width: 100%;
	font-size: 0.95em;
}

body {
	display: flex;
}

.wrap {
	width: 200px;
	height: 500px;
	border: 1px solid white;
	margin: auto;
}

#menu{
	width: 100%;
	margin:0 0 auto 0;
	height:40px;
}

#content {
	width: 100%;
	height:auto;%;
	margin:0 auto;
	
}

.menu{
	width: 100%;
	margin:0 0 auto 0;
	height:40px;
}
	
.menu ul{
	margin: 0; padding: 0;
	display: flex;
}
		 
.menu ul li{
	display: flex;
}
			 
.menu ul li a{
	float: left; text-decoration: none;
	color: white; 
	padding: 10.5px 11px;
	background-color: #333; 
}
			 
.menu ul li a:visited{
	color: white;
}
			 
.menu ul li a:hover, .menu ul li .current{
	color: #fff;
	background-color:#0b75b2;
}

/*Регистрация*/

.registration-cssave{
  padding:50px 0;
}

.registration-cssave form {
  max-width:800px;
  padding:50px 70px;
  border-radius:10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color:#fff;
}

.registration-cssave form h3 {
  font-weight:bold;
  margin-bottom:30px;
}

.registration-cssave .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.registration-cssave .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#3f93ff;
  border:none;
  color:white;
  margin-top:20px;
}

@media (max-width: 576px) {
  .registration-cssave form {
    padding:50px 20px;
  }
}